<div class="crew-body">
  <app-header></app-header>
  <div class="wrapper">
    <div class="crew-pick-text">
      <p><span>02</span> meet your crew</p>
    </div>
    <section>
      <div class="crew-left">
        <div class="crew-description">
          <div *ngIf="selectedCrewMember" class="crew-role">
            <p>{{ selectedCrewMember.role }}</p>
          </div>
          <div *ngIf="selectedCrewMember" class="crew-name">
            <h1>{{ selectedCrewMember.name }}</h1>
          </div>
          <div *ngIf="selectedCrewMember" class="crew-bio">
            <p>{{ selectedCrewMember.bio }}</p>
          </div>
        </div>
        <div class="crew-menu">
          <ul>
            <li><a routerLink="/crew/1" routerLinkActive="active"></a></li>
            <li><a routerLink="/crew/2" routerLinkActive="active"></a></li>
            <li><a routerLink="/crew/3" routerLinkActive="active"></a></li>
            <li><a routerLink="/crew/4" routerLinkActive="active"></a></li>
          </ul>
        </div>
      </div>
      <div class="crew-right">
        <div *ngIf="selectedCrewMember" class="crew-image">
          <img [src]="selectedCrewMember.image" [alt]="selectedCrewMember.name">
        </div>
      </div>
    </section>
  </div>
</div>